/*CSS styling for the header, navigation bar and logo*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*navigation bar*/

#header-text {
    font-family: 'Coiny', system-ui;
    max-width: 10%;
    text-decoration: none;
    margin-right: auto;
}


nav {
    display: inline-block;
    padding: 0px 1%;
    padding-top: 5%;
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.menu {
    text-decoration: none;
    padding-right: 1rem;
    color: black;
}

.contact {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 1rem;
    text-decoration: none;
}

.line {
    border-bottom: 2px solid black;
}

/*Text and font styling*/

h1 {
    font-family: 'Epilogue', sans-serif;
}

h2 {
    font-family: 'Epilogue', sans-serif;
}

p,
a {
    font-family: 'Epilogue', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.con1,
.con2 {
    margin: 200px;
    width: 45%;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#img-home {
    display: block;
    max-width: 70%;
    height: auto;
}

.to-quiz {
    width: 35%;
    height: auto;
    padding: 4%;
    text-align: center;
    font-size: x-large;
    background-color: black;
    color: white;
    border-radius: 30px;
}

footer {
    font-family: 'Epilogue', sans-serif;
    font-size: medium;
    text-align: center;
    padding-top: 2em;
    width: 100%;
    height: 40px;
    border-top: 2px solid black;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    /*Copied to style the elements
/*CSS styling for the header, navigation bar and logo*/

    header {
        height: 20%;
    }

    /*navigation bar*/

    #header-text {
        font-family: 'Coiny', system-ui;
    }


    nav {
        padding-right: 1%;
        padding-top: 5%;
        text-decoration: none;
        color: black;
        font-size: 22px;
    }

    .menu {
        text-decoration: none;
        padding-right: 1rem;
        color: black;
    }

    .contact {
        background-color: black;
        color: white;
        border-radius: 30px;
        padding: 1rem;
        text-decoration: none;
    }

    .line {
        border-bottom: 2px solid black;
    }

    /*Text and font styling*/

    h1,
    h2,
    p,
    a {
        font-family: 'Epilogue', sans-serif;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .con1 {
        text-align: center;
    }



    .to-quiz {
        width: 50%;
        height: auto;
        padding: 4%;
        text-align: center;
        font-size: x-large;
        background-color: black;
        color: white;
        border-radius: 30px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}