/*To style the header*/
* {
    margin: 0;

}

body {
    padding: 0;
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*navigation bar*/

#header-text {
    font-family: 'Coiny', system-ui;
    max-width: 10%;
    text-decoration: none;
    margin-right: auto;
}


nav {
    display: inline-block;
    padding: 0px 1%;
    padding-top: 5%;
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.menu {
    text-decoration: none;
    padding-right: 1rem;
    color: black;
}

.contact {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 1rem;
    text-decoration: none;
}

.line {
    border-bottom: 2px solid black;
}

/*Text and font styling*/

h1 {
    font-family: 'Epilogue', sans-serif;
}

h2 {
    font-family: 'Epilogue', sans-serif;
}

p,
a {
    font-family: 'Epilogue', sans-serif;
}

/*Centering the text and button*/

.container {
    width: 900px;
    margin: 250px auto;
    text-align: center;
}


/*CSS for the button*/

#to-quiz-btn {
    max-width: 25%;
    height: 125px;
    padding: 15px;
    font-size: x-large;
    background-color: black;
    color: white;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
}

footer {
    font-family: 'Epilogue', sans-serif;
    font-size: medium;
    text-align: center;
    padding-top: 2em;
    width: 100%;
    height: 40px;
    border-top: 2px solid black;
}

/*Standard breakpoints from w3  schools https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .container {
        width: 400px;
        height: auto;
        text-align: center;
    }

    #to-quiz-btn {
        max-width: 35%;
        height: 125px;
        padding: 15px;
        font-size: x-large;
        background-color: black;
        color: white;
        border-radius: 30px;
        text-align: center;
        display: inline-block;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        width: 700px;
        height: auto;
        text-align: center;
    }

    #to-quiz-btn {
        max-width: 18%;
        height: 125px;
        padding: 15px;
        font-size: x-large;
        background-color: black;
        color: white;
        border-radius: 30px;
        text-align: center;
        display: inline-block;
    }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        width: 700px;
        height: auto;
        text-align: center;
    }

    #to-quiz-btn {
        max-width: 18%;
        height: 125px;
        padding: 10px;
        font-size: x-large;
        background-color: black;
        color: white;
        border-radius: 30px;
        text-align: center;
        display: inline-block;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .container {
        width: 800px;
        height: auto;
        text-align: center;
    }

    #to-quiz-btn {
        max-width: 17%;
        height: 125px;
        padding: 10px;
        font-size: x-large;
        background-color: black;
        color: white;
        border-radius: 30px;
        text-align: center;
        display: inline-block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        width: 1100px;
        height: auto;
        text-align: center;
    }

    #to-quiz-btn {
        max-width: 12%;
        height: 125px;
        padding: 10px;
        font-size: x-large;
        background-color: black;
        color: white;
        border-radius: 30px;
        text-align: center;
        display: inline-block;
    }
}