/*CSS styling for the header, navigation bar and logo*/
* {
    margin: 0;
    padding: auto;
}

body {
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*navigation bar*/

#header-text {
    font-family: 'Coiny', system-ui;
    max-width: 10%;
    text-decoration: none;
    margin-right: auto;
}


nav {
    display: inline-block;
    padding: 0px 1%;
    padding-top: 5%;
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.menu {
    text-decoration: none;
    padding-right: 1rem;
    color: black;
}

.contact {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 1rem;
    text-decoration: none;
}

.line {
    border-bottom: 2px solid black;
}

/*Text and font styling*/

h1 {
    font-family: 'Epilogue', sans-serif;
}

h2 {
    font-family: 'Epilogue', sans-serif;
    text-align: center;
}

p,
a {
    font-family: 'Epilogue', sans-serif;
}

/*Quiz styling*/

.question {
    font-size: xx-large;
    font-family: 'Epilogue', sans-serif;
    text-align: center;
    margin: 5%
}

.ans-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 70%;
}

.answer-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 0;
    margin: 0 20px;
}


.answer-btn {
    margin: 50px;
    padding: 25px;
    background-color: white;
    border-radius: 30px;
    border-color: black;
    border-width: 2px;
    font-size: larger;
    box-shadow: 0 0 10px 2px;
    font-family: 'Epilogue', sans-serif;
    text-align: center;
}

input[type="radio"] {
    display: none;
}

.correctAnswer {
    background-color: #4caf50;
}

.wrongAnswer {
    background-color: #ff4500;
}

#next-btn {
    margin: 50px auto;
    padding: 25px;
    background-color: white;
    border-radius: 30px;
    border-color: black;
    border-width: 2px;
    font-size: larger;
    box-shadow: 0 0 10px 2px;
    font-family: 'Epilogue', sans-serif;
    text-align: center;
    display: block;
}

/*#progress-circle-container {
    width: px;
    /* Adjust width as needed */
/*height: 100px;
    /* Adjust height as needed */
/* Add other styles for the progress circle container */
/*display: flex;
    justify-content: center;
    /* Align horizontally */
/* align-items: center;
    /* Align vertically */
}

*/ footer {
    font-family: 'Epilogue', sans-serif;
    font-size: medium;
    text-align: center;
    padding-top: 2em;
    width: 100%;
    height: 40px;
    border-top: 2px solid black;
}

/*Standard breakpoints from w3  schools https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp*/

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        width: 70%;
    }

    .answer-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 70%;
    }

    .answer-btn {
        padding: 15px;
        width: 65%;
        background-color: white;
        border-radius: 30px;
        border: 2px solid black;
        font-size: larger;
        box-shadow: 0 0 10px 2px;
        font-family: 'Epilogue', sans-serif;
        text-align: center;
        margin-bottom: 10px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        width: 70%;
    }

    .answer-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 70%;
    }

    .answer-btn {
        padding: 15px;
        width: 67%;
        background-color: white;
        border-radius: 30px;
        border: 2px solid black;
        font-size: larger;
        box-shadow: 0 0 10px 2px;
        font-family: 'Epilogue', sans-serif;
        text-align: center;
        margin-bottom: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        width: 70%;
    }

    .answer-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 70%;
    }

    .answer-btn {
        padding: 15px;
        width: 67%;
        background-color: white;
        border-radius: 30px;
        border: 2px solid black;
        font-size: larger;
        box-shadow: 0 0 10px 2px;
        font-family: 'Epilogue', sans-serif;
        text-align: center;
        margin-bottom: 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        width: 70%;
    }

    .answer-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 70%;
    }

    .answer-btn {
        padding: 15px;
        width: 67%;
        background-color: white;
        border-radius: 30px;
        border: 2px solid black;
        font-size: larger;
        box-shadow: 0 0 10px 2px;
        font-family: 'Epilogue', sans-serif;
        text-align: center;
        margin-bottom: 10px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        width: 60%;
    }

    .answer-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 60%;
    }

    .answer-btn {
        padding: 15px;
        width: 59%;
        background-color: white;
        border-radius: 30px;
        border: 2px solid black;
        font-size: larger;
        box-shadow: 0 0 10px 2px;
        font-family: 'Epilogue', sans-serif;
        text-align: center;
        margin-bottom: 10px;
    }
}